<section class="botton-posts">
<div class="noticias">
{foreach $noticias as $post}
<a href="{$URLBASE}/post/{$post.id}/{$post.title}/" class="post-bp">
<span class="date-bp">{$post.date}</span>
<h3 class="title-bp">{$post.title|replace:"-":" "|truncate:70}</h3>
<img class="image-bp" src="{$URLBASE}/static/images/{$post.image}">
</a>
{/foreach}
</div>
<div class="ads">ads</div>
<div class="consolas">
{foreach $consolas as $post}
<a href="{$URLBASE}/post/{$post.id}/{$post.title}/" class="post-bp">
<span class="date-bp">{$post.date}</span>
<h3 class="title-bp">{$post.title|replace:"-":" "|truncate:70}</h3>
<img class="image-bp" src="{$URLBASE}/static/images/{$post.image}">
</a>
{/foreach}
</div>
</section>